<footer class="footer">
	<div class="footer-lockup">
		<div class="footer-logo">ABRandom</div>

		<div class="content-wrap">	

			<nav class="footer-nav">
				<a class="footer-nav" href="" style="text-decoration: none">About us!</a></li>
				<a class="footer-nav" href="" style="text-decoration: none">Photographs</a></li>
				<a class="footer-nav" href="" style="text-decoration: none">Food</a></li>
				<a class="footer-nav" href="" style="text-decoration: none">Blog</a></li>
			</nav>

			<p class="footer-copyright">all content copyright 2015</p>
		</div>

		
	</div>
</footer>