<header class="header">
	<div class="header-logo">ABRandom</div>
	
	<nav class="header-bg">
		<a class="header-nav" href="" style="text-decoration: none">About us!</a></li>
		<a class="header-nav" href="" style="text-decoration: none">Photographs</a></li>
		<a class="header-nav" href="" style="text-decoration: none">Food</a></li>
		<a class="header-nav" href="" style="text-decoration: none">Blog</a></li>
	</nav>

	<h1 class="random"><span>{{ site.title }}</span></h1>
	<p class="kicker">{{ site.description }}</p>
</header>